.collapsibleContainer {
    border: solid 1px #9BB5C1;
}

.collapsibleContainerTitle {
    cursor: pointer;
    /*margin: 10px 0;*/
    /*font: Bold 18px 'Trebuchet MS', Tahoma, Sans-serif;*/
    /*padding: 5px 0 5px;*/
    /*border-bottom: 1px solid #EFF0F1;*/
    /*text-transform: none;*/
}

.collapsibleContainerTitle div {
    padding-top: 5px;
    padding-left: 10px;
    background-color: #237FBE;
    color: #FFFFFF;
}

.collapsibleContainerContent {
    padding: 10px;
}