dl {
    width: 25em;
}

dt {
    text-align: right;
    font-weight: bold;
    float: left;
    width: 8em;
    background-color: #95b6cb;
    color: #093;
}

dt.nobg {
    background: none;
}

dd {
    margin: 0 0 0.4em 3.0em;
    float: left;
}

dd.info {
    font-size: 10px;
    margin: 0 0.5em 0.2em 0;
}

p.clear {
    clear: both;
}

#teams {
    vertical-align: top;
}

ul.vblist {
    list-style-type: none;
    padding: 0;
    margin-left: 2em;
}

li.vblist {
    background-image: url(../images/vbicon.jpg);
    background-repeat: no-repeat;
    background-position: .1 .4em;
    padding-left: 1.8em;
}

.week {
    float: left;
}

.playoff {
    opacity: 0.8;
    filter: alpha(opacity = 80); /* For IE8 and earlier */
    float: left;
    margin: 12px 10px 0 0;

}

#standings td, #standings th {
    border:1px solid #98bf21
}

#standings tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

a.no-line-link:link {
    text-decoration: none;
    color: black;
}

a.no-line-link:visited {
    text-decoration: none;
    color: black;
}

a.no-line-link:hover {
    text-decoration: underline;
    color: #2180BC;
}

a.no-line-link:active {
    text-decoration: underline;
    color: #2180BC;
}


/*.navcontainer ul {*/
/*padding-left: 0;*/
/*margin-left: 0;*/
/*background-color: #237FBE;*/
/*color: White;*/
/*float: left;*/
/*width: 100%;*/
/*font-family: arial, helvetica, sans-serif;*/
/*}*/

/*.navcontainer ul li {*/
/*display: inline;*/
/*}*/

/*.navcontainer ul li a {*/
/*padding: 0.2em 1em;*/
/*background-color: #237FBE;*/
/*color: White;*/
/*text-decoration: none;*/
/*float: left;*/
/*border-right: 1px solid #fff;*/
/*}*/

/*.navcontainer ul li a:hover {*/
/*background-color: #369;*/
/*color: #fff;*/
/*}*/

