@(activeLeagues: List[League], allLeagues : List[League], leagueForm : Form[League])

@import helper._
@import tags._

@main(title = "JCS Schedule & Scores - Leagues") {
<h2>Select a league to see teams, scores, and schedules</h2>

<table class="float-left">
    <tbody>
    @activeLeagues.map { l =>
    <tr>
        <td><a href="/league/@l.id">@l.name</a></td>
    </tr>
    }
    </tbody>
</table>

@boardpanel {
<div>
    <h3>Edit leagues:</h3>
    <table >
        <tbody>
        @allLeagues.map { l =>
        <tr>
            <td>(@l.id)</td>
            <td>@l.name</td>
            <td>@l.location</td>
            <td>
                <a href="@routes.LeagueController.toggleLeague(l.id)">@if(l.active){Deactivate}else{Activate}</a>
            </td>
        </tr>
        }
        </tbody>
    </table>

    <div>
        <h3>Create a new league:</h3>
        @form(routes.LeagueController.newLeague) {

            @inputText(leagueForm("name"))
            <p class="clear"/>
            @inputText(leagueForm("location"))
            <p class="clear"/>
            @inputText(leagueForm("description"))
            <p class="clear"/>
            <dt class="nobg"><input type="submit" value="Create"></dt>
            <p class="clear"/>
        }
    </div>
</div>

}
}
