@(league:League, season:Option[Season], nextSeason:Option[Season], lastWeek:Option[Week], nextWeek:Option[Week])

@import helper._
@import tags._

@main(title = "JCS Schedule & Scores - " + league.name) {
<h2>@league.name: @league.description at @league.location</h2>

<p><h3>Current Season -

@season match {
case Some(s) => {Started on @s.start_date.toString("MM/dd/yy")}
case None => {None}
}</h3>

@hline()
<table>
    <tr>
        <td>
            @week(lastWeek, "Last Week's Games")
            @week(nextWeek, "Next Week's Games")
            @hline()
        </td>
        <td id="teams">Coming soon: Teams!<br/>
            Fake Team 1<br/>
            Fake Team 2<br/>
        </td>
    </tr>
</table>

<br><br>

<p><h3>Next Season -
@nextSeason match {
case Some(s) => {Will start on on @s.start_date.toString("MM/dd/yy")}
case None => {Not scheduled yet}
}  </h3>

@boardpanel {
<div>
    <h3>Edit this league:</h3>

    <p>TODO</p>
    <p></p>
    <h3>League News</h3>
    <p>TODO (maybe)</p>

</div>

}
}
