@(league:League, leagueForm:Form[League], teams:Map[Long, Team], season:Option[Season], nextSeason:Option[Season], lastWeek:Option[Week], nextWeek:Option[Week])

@import helper._
@import tags._

@main(title = "JCS Schedule & Scores - " + league.name) {
<h2>@league.name: @league.description at @league.location</h2>

<p><h3 align="center">Current Season -

    @season match {
    case Some(s) => {Started on @s.start_date.toString("MM/dd/yy")</h3>
<p class="clear"/>

<div class="tabs" style="width: 100%">
    <ul>
        <li><a href="#recent">Recent</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a title="schedule" href="@routes.SeasonController.schedule(s.id.get)">Complete Schedule</a></li>
        <li><a title="standings" href="@routes.SeasonController.standings(s.id.get)">Standings</a></li>
    </ul>


    <div id="recent">
        @week(lastWeek, "Last Week's Games", teams)
        <br>
        @week(nextWeek, "Next Week's Games", teams)
    </div>

    <div id="teams">
        @for((_,team) <- teams) {
        <p>
            @team.name <i>(@team.captainName)</i>
            <a class="team-schedule" title="@team.name Schedule"
               href="@routes.SeasonController.teamSchedule(season.get.id.get, team.id.get)">schedule</a>
        </p>
        }
    </div>

</div>

<p class="clear"/>}
case None => {None</h3>}
}

@hline()

<p><h3 align="center">Next Season -
    @nextSeason match {
    case Some(s) => {Will start on on @s.start_date.toString("MM/dd/yy")}
    case None => {Not scheduled yet}
    } </h3>

@boardpanel {
<div class="tabs" style="width: 100%">
    <ul>
        <li><a href="#edit_league">Edit League</a></li>
        <li><a href="#edit_season">Edit Season</a></li>
        <li><a href="#score_games">Enter Scores</a></li>
        <li><a href="#schedule_games">Schedule Games</a></li>
    </ul>

    <div id="edit_league">
        <h3>Edit this league:</h3>
        @form(action = routes.LeagueController.editLeague(league.id.get)) {


        <div hidden='true'>@inputText(leagueForm("id"))</div>
        @inputText(leagueForm("name"))
        <p class="clear"/>
        @inputText(leagueForm("location"))
        <p class="clear"/>
        @inputText(leagueForm("description"))
        <p class="clear"/>
        <dt class="nobg"><input type="submit" value="Save"></dt>
        <p class="clear"/>
        }
    </div>

    <div id="edit_season">
        TODO
    </div>

    <div id="score_games">
        TODO
    </div>

    <div id="schedule_games">
        TODO
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".tabs").tabs({
            cache:true,
            ajaxOptions:{
                cache:false,
                dataFilter:function (data) {
                    return $(data).find("div #content")
                }
            }
        });

        $('.team-schedule').each(function () {
            var $link = $(this);
            var $dialog = $('<div></div>')
                    .dialog({
                        autoOpen:false,
                        resizable:true,
                        title:$link.attr('title'),
                        width:500,
                        maxHeight:800
                    });

            $link.click(function () {
                if (!$dialog.is("div #content")) {
                    $dialog.load($link.attr('href') + ' #content')
                }
                $dialog.dialog('open');

                return false;
            });
        });

    });


</script>

}
}
