@(weekOption:Option[Week], title:String, teams:Map[Long, Team])
@* for loop weeds out None *@
@for(week <- weekOption) {
<h4>@title: @week.gameDate.toString(Application.VIEW_DATE_PATTERN)</h4>
@if(week.playoff) {
<div class="playoff"><img src='@routes.Assets.at("images/playoffs.jpg")'/></div>  }
<div class="week">
    @week match {
    case WeekScheduled(_,_,_, playoff, games) => {
    <ul class="vblist">
        @for(game <- games.sortBy(g => (g.startTime.getHourOfDay, g.court))) {
        <li class="vblist">
            @game.startTime.toString(Application.VIEW_TIME_PATTERN), court @game.court: @teams(game.team1Id).name vs
            @teams(game.team2Id).name
        </li>
        }
    </ul>
    }
    case WeekCompleted(_,_,_,playoff,games) => {
    <ul class="vblist">
        @for(game <- games) {
        @if(game.team1Wins > game.team2Wins) {
        <li class="vblist"><b>@teams(game.team1Id).name @game.team1Wins</b>, @teams(game.team2Id).name @game.team2Wins
            (@game.setScores.mkString(", "))
        </li>
        } else {
        <li class="vblist">@teams(game.team1Id).name @game.team1Wins, <b>@teams(game.team2Id).name @game.team2Wins</b>
            (@game.setScores.mkString(", "))
        </li>
        }
        }
    </ul>
    }

    case WeekUnscheduled(_,_,_,playoff) => {
    (Games not yet scheduled)
    }
    }
</div>
<p class="clear"/>
}

